/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
TI/configPt1.txt
TI/stylePt1.txt
TI/stockPt1.txt
TI/sidebarPt1.txt
TI/style.txt
TI/stock.txt
TI/report.txt
TI/loginPt1.txt
TI/config.html
TI/login.html
TI/report.html
TI/sidebar.html
TI/stock.html
TI/style.css
backup.txt
