* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #00002a;
    margin: 0;
    padding: 0;
    height: 100%;
}

a {
    background-color: #00002a;
    border-color: #8373e6;
    color: #8373e6;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    text-decoration: none;
}

.main-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.custom-radio input {
    display: none;
}

.radio-btn {
    margin: 10px;
    width: 180px;
    height: 200px;
    border: 3px solid transparent;
    display: inline-block;
    border-radius: 10px;
    position: relative;
    text-align: center;
    box-shadow: 0 0 20px #c3c3c367;
    cursor: pointer;
}

.radio-btn .hobbies-icon {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.radio-btn .hobbies-icon i {
    color: #8373e6;
    line-height: 80px;
    font-size: 60px;
}

.radio-btn .hobbies-icon h3 {
    color: #8373e6;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.form-label {
    color: #8373e6;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.form-control {
    background-color: #00002a;
    border-color: #8373e6;
    color: #8373e6;
}

.form-control:focus {
    background-color: #00002a;
    border-color: #8373e6;
    color: #8373e6;
}

.btn-primary {
    background-color: #00002a;
    border-color: #8373e6;
    color: #8373e6;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.btn-primary:hover {
    background-color: #8373e6;
    border-color: #8373e6;
    color: #00002a;
}

.radio-btn-checked {
    border: 3px solid #8373e6;
}

/* FAB */
.fab-container {
	position: fixed;
	bottom: 50px;
	right: 50px;
	z-index: 999;
	cursor: pointer;
}

.fab-icon-holder {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background: #2f15d7;

	box-shadow: 0 6px 20px rgba(0,0,0,0.2);
}

.fab-icon-holder:hover{
	opacity: 0.8;
}

.fab-icon-holder i {
	display: flex;
	align-items: center;
	justify-content: center;
    
	height: 100%;
	font-size: 25px;
	color: #ffffff;
}

.fab {
	width: 60px;
	height: 60px;
	background: #8373e6;
}

.fab-options {
	list-style-type: none;
	margin: 0;

	position: absolute;
	bottom: 70px;
	right: 0;

	opacity: 0;

	transition: all 0.3s ease;
	transform: scale(0);
	transform-origin: 85% bottom;
}

.fab:hover + .fab-options, .fab-options:hover {
	opacity: 1;
	transform: scale(1);
}

.fab-options li {
	display: flex;
	justify-content: flex-end;
	padding: 5px;
}

.fab-label {
	padding: 2px 5px;
	align-self: center;
	user-select: none;
	white-space: nowrap;
	border-radius: 3px;
	font-size: 16px;
	background: #666666;
	color: #ffffff;
	box-shadow: 0 6px 20px rgba(0,0,0,0.2);
	margin-right: 10px;
}